body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }
 p{
    color: rgba(58, 55, 55, 0.472);
font-size: 20px;
}
 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
 }

.first-sec{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    width: 100%;
    padding-top: 150px;
    color: white;
    text-align:center;
    box-sizing: inherit;
   
}
.button{  
    color: white;
    background-color: tomato;
    border-radius: 4px;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#first-p{
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgba(240, 248, 255, 0.648);
}
.header{
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.second-sec{
    text-align: center;
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    width: 100%;
}
.second-header{
    font-size: 50px;
}

.third-sec{
    font-family: 'Poppins', sans-serif;
    color: rgba(76, 76, 76, 0.819);
    margin-top: 20px;
    text-align: center;
    height: 120px;
    width: 100%;
}
.second-p{
    padding: 40px;
    border-radius: 4px;
    background-color: rgba(229, 232, 232, 0.326);
    margin-left: 18px;
    font-size: 50px;
    }
#special-donate{
    border: 2px solid tomato;
    background-color: rgba(255, 99, 71, 0.115);
}
#other-amount{
    text-align: center;
    font-size:21px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 19%;
    margin-right: 18%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.324);
    color: rgba(128, 128, 128, 0.472);
}
.second-button{
    margin-left: 630px;
}

.fourth-header{
    
    text-align: center;
    padding-top: 50px;
}
.headeing-p{
    color: rgba(58, 55, 55, 0.472);
    font-size: 20px;
    text-align: center;
}
.boxes{
    display: inline-block;
    padding:30px 15px;
    border-radius: 4px;
    width: 300px;
}
#box1{
    margin-top: 30px;
    margin-left:170px;
    margin-right: 10px;
    background-color: rgba(104, 126, 181, 0.073);
}
#box2{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 192, 203, 0.214);
}
#box3{
    margin-left: 10px;
    margin-right: 70px;
    background-color:rgba(255, 228, 196, 0.429);
}
.fourth-section{
    width: 30%;
    display: inline-block;
    font-size: 20px;
    padding-bottom: 100px;
}
.fourth-section img{
    width: 100%;
}

#fourth-s{
    text-align: left;
    margin-left: 200px;
    margin-right: 100px;
    padding-left:20px ;
}
#fourth-s2{
    margin-left: 200px;
    margin-right: 100px;
    padding-left:20px ;
    
}
.fifth-s{
    display: inline-block;
    width: 30%;
    font-size: 20px;
    margin-left: 150px;
    margin-bottom: 100px;
}
.fifth-s img{
    width: 100%;
    margin-left: 100px;
}

#fifth-s1{
    width: 30%;
    padding-top:0 ;
    
}
.six-s{
    text-align: center;
    
}
.six-s2{
    background-color:rgba(255, 235, 205, 0.748);
    border-radius: 5px;
    margin:50px 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 100px;
}
.email{
    padding-left: 10px;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: rgba(152, 136, 136, 0.498);
}
#subsribe{
    margin-left: 350px;
    background-color: tomato;
    padding-top:10px;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 80px;
    border-radius: 5px;
}
footer{
    background-color: black;
    text-align: center;
    height: 150px;
    padding-top: 40px;
}
#footer1{
    font-size: 40px;
    color: rgb(247, 109, 109);
    font-family: monospace;
}
#footer2{
    font-size: 15px;
    color: rgba(240, 248, 255, 0.532);
}